<h2>{{{guest.fio}}}</h2>

<form action="" method="post" class="register">
    <div class="servicelinks">
        <button class="btn btn-default plusone" type="button">Добавить +1 гостя</button>
    </div>
    <div class="servicelinks">
        <button class="btn btn-primary" type="submit">Зарегистрировать</button>
    </div>
</form>

<div class="servicelinks">
    <a href="/">На главную</a>
</div>
