<form class="guestsearch" data-guests='{{{guests}}}'>
    <h2>Регистрация гостей</h2>

    <div class="form-group guestsearch__fio">
        <input type="text" class="form-control typeahead" id="fio" placeholder="Начните вводить фамилию или имя гостя...">
    </div>
</form>

<div class="servicelinks">
    <a href="/stat">Статистика</a>
</div>
<div class="servicelinks">
    <a href="/register">Регистрация гостя не из списка</a>
</div>
