<!DOCTYPE HTML>
<html>
<head>
    <title>Регистрация гостей</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/s/client.css">
</head>
<body>

<div class="wrapper">
    {{{body}}}
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/bower_components/typeahead.js/dist/typeahead.jquery.min.js"></script>
<script src="/s/client.js"></script>

</body>
</html>
